* {
  color: white;
}

body {
  margin: o;
  background-color: black;
}

header {
  font-size: 32px;
  padding: 0;
  margin: 0px;
  background-color: darkred;
  color: white;
  text-align: center;
  border-color: red;
  border-style: ridge;
  border-width: 1px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav a {
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: red;
  transition: 1s;
}

footer nav a:hover {
  background-color: transparent;
  background: red;
}

article {
  font-size: 32px;
  line-height: 22px;
  font-family: "Roboto Slab", serif;
}

h4 {
  text-align: center;
}

footer {
  background-color: darkred;
  border-color: red;
  border-style: ridge;
  border-width: 1px;
}

p {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

html {
  scroll-behavior: smooth;
}

.flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.image-container {
  display: flex;
}

.image-container img {
  flex: 0 1 auto;
  width: 500px;
}

.center {
  line-height: 22px;
  text-align: center;
  margin: 50px;
}

.länkar {
  text-align: center;
  margin: auto;
}

@media (max-width: 600px) {
  .image-container img {
    width: 300px;
  }
}
