* {
  color: white;
}

body {
  margin: o;
  background-color: black;
}

header {
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-size: 32px;
  padding: 0;
  margin: 0px;
  background-color: darkred;
  color: white;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav a {
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: red;
}

footer nav a:hover {
  background-color: transparent;
  text-decoration: underline;
  background: red;
}

article {
  font-size: 32px;
  line-height: 22px;

  font-family: "Roboto Slab", serif;
}

footer {
  background-color: darkred;
}

p {
  width: 60%;
}

.image-container {
  display: flex;
}

.image-container img {
  flex: 0 1 auto;
  width: 500px;
}

.center {
  line-height: 22px;
  text-align: center;
  margin: 50px;
}

.länkar {
  text-align: center;
  margin: auto;
}

@media (max-width: 600px) {
  .image-container img {
    width: 300px;
  }
}
